<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Learning Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_footer.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>