<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un Utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_footer.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <h1>Modifier l'Utilisateur</h1>
    <form method="POST" action="{{ url_for('edit_user', user_id=user.id) }}">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" value="{{ user.name }}" required>
        <br>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" required>
        <br>
        <label for="role">Rôle :</label>
        <select id="role" name="role" required>
            <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
            <option value="apprenant" {% if user.role == 'apprenant' %}selected{% endif %}>Apprenant</option>
        </select>
        <br>
        <button type="submit">Modifier l'utilisateur</button>
    </form>
    <a href="{{ url_for('admin_users') }}">Retour à la gestion des utilisateurs</a>
    {% include 'footer.html' %}
</body>
</html>
